.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 135px;
    .products {
        width: 1200px;
        min-height: 755px;
        margin: 0 auto;
        display: flex;
        background-color: white;
    }

}

.items {
    display: flex;
    flex-direction: column;
    width: 100%;
    h1 {
        font-size: 22px;
        font-weight: 600;
    }

    .sort {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 34px;
        h3 {
            font-weight: 500;
        }
        .sortby {
            display: flex;
            gap: 33px;

        }
        .search {
            position: relative;
            .loap {
                position: absolute;
                top: 10px;
                left: 13px;
            }
            input {
                padding: 5px 0px;
                border-radius: 18px;
                min-width: 320px;
                border: 1px solid #D8E2EE;
                padding-left: 32px;
                font-size: 16px;
                &::placeholder {
                    color: #D8E2EE;
                }
            }
        }
    }
    .table {
        padding-top: 10px;
    }
}
.clear {
    position: absolute;
    top: 12px;
    left: 290px;
    opacity: 0.4;
}

@media screen and (max-width: 850px) {
    .header{
        padding: 0px 0px ;

    }
    .buttons {
        display: flex;
        gap: 0px;
    }
  }