.container {
    background-color: #EDF2F8;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 135px;
    .cards {
        width: 1200px;
        min-height: 755px;
        margin: 0 auto;
        display: flex;
        background-color: white;
    }

}

.items {
    
}