.table {
    table {
        border-collapse: collapse;
        width: 100%;
      }
      .title {
        padding: 6px 0px;
        background-color: #EDF2F8;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        padding-left: 20px;
        padding-right: 52px;
        p {
            flex: 0 1 auto;
        }
        .name {
            flex: 1 1 auto;
        }
      }
}