.tr {
    border-bottom: 2px solid #EDF2F8;
    cursor: pointer;
    td {
        
    }
    .date {
        text-align: center;
    }
    .photo {
        padding-left: 10px;
    }
    .name {
        font-size: 15px;
        font-weight: 300px;
    }
    .category {
        font-size: 13px;
        color: #9DA8BA;
        font-family: 'Roboto', sans-serif;
    }
}